<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hamid.cmr3">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.CALL_DIAL"
        android:protectionLevel="signature|privileged" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="CMR"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main2Activity"
            android:label="Enents" />
        <activity
            android:name=".Main3Activity"
            android:label="DJ" />
        <activity
            android:name=".ScrollingActivity_1"
            android:label="2018"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ScrollingActivity_2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainHelpActivity"
            android:label="Support" />
        <activity
            android:name=".RegistretionActivity"
            android:label="Register" />
        <activity android:name=".MainChat"></activity>
    </application>

</manifest>